@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
	box-sizing: border-box;
}
img{
	display: block;
	max-width: 100%;
}

body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 1.5px;
}
/*---------------------------------------Estilos del header---------------------------------------*/
.header{
	height: 60%;
}
.header .contenedor {
	display: flex;
	justify-content: space-between;
}
.logo, .icon-menu{
	margin: 5px;
	color: #fff;
}
.icon-menu {
	display: block;
	width: 40px;
	height: 40px;
	font-size: 30px;
	background: #666666;
	text-align: center;
	line-height: 45px;
	border-radius: 5px;
	margin-left: auto;
	cursor: pointer;
}
/*-----------------------------------------Estilos del menú-----------------------------------------*/
.nav{
	position: absolute;
	top: 60px;
	left: -100%;
	width: 100%;
	transition: all 0.4s;
}
.menu{
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu__link{
	display: block;
	padding: 15px;
	background: #666666;
	text-decoration: none;
	color: #fff;
}
.menu__link:hover, .select {
	background: white;
	color: #666666;
}
.mostrar{
	left: 0;
}

/*--------------------------------Estilos del banner--------------------------------*/
.banner{
	margin-top: -60px;
	position: relative;
	z-index: -1000;
	margin-bottom: 20px;
}
.banner .contenedor {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%
	color: #fff;
	text-align: center;
}

.banner__txt{
	display: none;
}
/*-------------------------------------Estilos de imagen-------------------------------------*/

.info__columna{
	background: #666666;
	color: #fff;
	padding: 15px;
	margin-bottom: 30px; 
}

/*---------------------------------------Estilos de footer---------------------------------------*/

.footer{
	background: #666666;
	color: black;
	padding: 10px;
	text-align: center;
}

.footer .social [class^="icon-"]{
	display: inline-block;
	background: white;
	color: #666666;
	text-decoration: none;
	font-size: 30px;
	border-radius: 50%;
	width: 50px;
	height: 50%;
	line-height: 40px;
	padding: 10px;
}

/*-----------------------------Estilos resposive-----------------------------*/

@media(min-width: 480px);{
	.logo{
		font-size: 40px;
	}
	.banner__titulo{
		font-size: 30px;
		margin: 5px 0;
	}
	.banner__txt{
		display: block;
		font-size: 18px;
		margin: 7px;
	}
	.info{
		display: flex;
		justify-content: space-between;
	}
	.info__columna{
		width: 32%;
	}
}